:root {
  --font-family: "Inter", sans-serif;

  --white: #fff;
  --red: #f31717;
  --darkblue: #131730;
  --darkblue-mod: rgba(19, 23, 48, 0.8);

  --bg: #f2f6f9;
  --bluviolet: #5b48fc;
  --green: #9de311;

  --darkblue-06: rgba(19, 23, 48, 0.6);

}

/* Шрифты  */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: local('../fonts/Inter Regular'), local('../fonts/Inter-Regular'),
    url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.eot');
  src: local('../fonts/Inter Bold'), local('../fonts/Inter-Bold'),
    url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.eot');
  src: local('../fonts/Inter Medium'), local('../fonts/Inter-Medium'),
    url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-LightBETA.eot');
  src: local('../fonts/Inter Light BETA'), local('../fonts/Inter-LightBETA'),
    url('../fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-LightBETA.woff2') format('woff2'),
    url('../fonts/Inter-LightBETA.woff') format('woff'),
    url('../fonts/Inter-LightBETA.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Шрифты конец  */

/* Базовые стили  */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  color: var(--darkblue-mod);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Базовые стили конец  */

/* Служебные классы  */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.click {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.click:hover, .click:focus {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

/* Служебные классы конец */

/* --------------------- БЛОКИ ------------------------- */

/* Кнопка  */
.button {
  padding: 21px 30px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: var(--white);
  background-color: var(--bluviolet);
  border-radius: 32px;
  display: block;
  max-width: max-content;
  transition: background-color 0.3s;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr auto;
  align-items: center;
  transition: all 0.3s;
}

.button:after {
  content: '';
  display: block;
  background-image: url(../svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 8px;
  height: 12px;
}

.button:hover {
  background-color: #2f22a5;
}

.button--social {
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: auto 1fr;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  padding: 0 25px;
  height: 48px;
}

.button--social:after {
  display: none;
}

.button--telegram {
  background-color: #1E96C8
}
.button--telegram:hover{
  background-color: #14688c
}
.button__icon {}

.button--whatsap {
  background-color: #43AD45;
}
.button--whatsap:hover {
  background: #2e7a37  ;
}
/* Кнопка конец */


/* заголовки */
.title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: var(--darkblue);
}

.title span {
  color: var(--green);
}

/* заголовки конец */

.wrapper {
  max-width: 1600px;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}

.section__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 2fr;
  padding-top: 60px;
  padding-bottom: 70px;
}

.accordion {
  padding: 24px 0;
  position: relative;
}

.accordion::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--darkblue);
  opacity: 0.2;
  transition: 0.3s;
}

.faq__item:last-of-type .accordion::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--darkblue);
  opacity: 0.2;
  transition: 0.3s;
}

.accordion__question {
  font-size: 24px;
  list-style: none;
  font-weight: 500;
  line-height: 133%;
  color: var(--darkblue);
  cursor: pointer;
  /* margin-bottom: 22px; */
}

.accordion__question--mod {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 26px;
  align-items: center;
  padding-right: 38px;
}

.accordion__question--mod2 {
  display: flex;
  align-items: center;
  /* padding-right: 38px; */
  position: relative;
  justify-content: space-between;


}

.accordion:hover::before{
  background: var(--darkblue);
  opacity: 1;
}

.faq__item:last-of-type .accordion:hover::after{
  background: var(--darkblue);
  opacity: 1;
}

.faq__item:has(.accordion:hover) + .faq__item .accordion::before{
  background: var(--darkblue);
  opacity: 1;
}


/* .accordion__question--mod2::after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L13 13L25 0.999998' stroke='%235B48FC' stroke-width='2'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 12px;
  flex-shrink: 0;

} */

.accordion__question::marker {
  display: none;
}

.accordion__answer {
  font-size: 18px;
  opacity: 0.8;
  padding-left: 40px;
  padding-top: 20px;
}

/* --------------------- КОНЕЦ БЛОКИ ------------------------- */

/* --------------------- СЕКЦИИ ------------------------- */
/* шапка  */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: all 0.3s;
}

.header__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header__contacts {
  max-width: max-content;
  margin: 0;
  margin-left: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.header__logo {
  display: block;
  width: 48px;
  color: #fff;
  transition: 0.3s;
}

.header__logo:hover,
.header__logo:focus,
.header__logo:active {
  color: var(--green);
  scale: 1.05;
}

.header__tel {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}
.header__tel:hover{
  color: var(--green);

}


/* шапка конец */

/* Первый экран  */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: var(--white);
}

.video-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

.video-bg__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  object-fit: contain;
  overflow: clip;
}

.hero:before {
  content: '';
  display: block;
  background: linear-gradient(90deg, rgba(19, 23, 48, 0.5), rgba(19, 23, 48, 0.5));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero__content {
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.hero__title {
  position: relative;
  z-index: 2;
  color: inherit;
  font-size: 80px;
  margin: 0;
  margin-bottom: 7px;
  padding-top: 0;
}

.hero__text {
  position: relative;
  z-index: 2;
  opacity: 0.7;
  margin-bottom: 40px;
}

.hero__button {
  position: relative;
  z-index: 2;
}

/* Первый экран конец  */

/* Преимущества  */
.benefits {
  background: var(--bluviolet);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.benefits__number {
  margin-bottom: 7px;
  position: relative;
  display: flex;
  align-items: center;
}

.benefits__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  cursor: pointer;
}

.benefits__number::after {
  content: "";
  display: block;
  margin-left: 40px;
  width: 1px;
  opacity: 0;
  height: 1px;
  background-color: var(--white);
  transition: width 0.3s ease;
}
.benefits__item:hover .benefits__number::after{
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  opacity: 1;
  background-color: var(--white);
}

/* Преимущества  конец */

/* Мы предлагаем  */
.offer {
  background: var(--darkblue);
  color: var(--white);
}

.offer__title {
  color: inherit;
  display: block;
}

.offer__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 10px 32px;
  align-items: center;
}

.offer__item {
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  position: relative;
}

.offer__icon {
  display: block;
  margin-bottom: 24px;
  color: var(--green);
}


.offer__item:hover .offer__icon{
  color: var(--bluviolet);
}

.offer__item::after{
  content: "";
  display: block;
  position: absolute;
  top:140px;
  left: 0px;
  width: 1px;
  opacity: 0;
  height: 1px;
  background-color: var(--white);
  transition: width 0.3s ease;
}

.offer__item:hover::after{
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 1px;
  opacity: 1;
  background-color: var(--white);
}

/* Мы предлагаем  конец */

/* Цены  */

.price__list {
  margin-top: 61px;
  margin-bottom: 61px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.price__icon {
  display: block;
  margin-bottom: 16px;
  color: var(--green);
}

.service-card:hover .price__icon{
  color: var(--bluviolet);
}
.price__name {
  display: block;
  padding-bottom: 17px;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
}

.price__text {
  display: block;
  margin: 0;
  font-size: 18px;
  margin-bottom: 28px;
}

.price__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  opacity: 0.5;
  display: block;
}

.price__coust {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 27px;
}

.price__name::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 1px;
  background: var(--darkblue);
  transition: opacity .3s,color .3s,width .3s;
  content: "";
  opacity: .2;
}

.service-card:hover .price__name::after{
  width: 80px;
  background: var(--bluviolet);
  opacity: 1;
}
/* Цены  конец */

/* FAQ  */
.faq {
  background-color: #F2F6F9;
}

.faq__list {
  margin-top: 60px;
}

/* FAQ конец */

/*Footer*/
.footer {
  background: var(--darkblue);
  color: var(--white);
}

.footer__title {
  color: inherit;
}

.form ::placeholder {
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 25px 32px;
  margin-bottom: 31px;
}

.form__grid-item {
  grid-column: span 4;
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: 116px 1fr;
  position: relative;
}

.form__grid-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--white);
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form__grid-item:hover::after{
  background: var(--bluviolet);
  opacity: 1;
}


.form__grid-item--mod {
  grid-column: span 8;
}

.form__labe {
  font-size: 16px;
  opacity: 0.7;
}

.form__input,
.form__textarea {
  max-width: 100%;
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  padding: 17px 0;
  height: 70px;
}

.check {
  font-size: 16px
}

.form__date {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--green);
}

.form__footer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.form__date:hover{
  color: var(--bluviolet);
}

/*Footer конец*/

/*Modal */
.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue-06);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

}

.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.modal .form__grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.modal .form__grid-item {
  grid-column: initial;
}

.modal .form__input::placeholder {
  color: var(--darkblue);
}

.modal .form__grid-item::after {
  background: var(--darkblue);
}

.modal .form__input,
.modal .form__textarea {
  padding: 15px 0;
  height: 55px;
}

.modal .form__footer {
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.modal__body {
  position: relative;
  width: 700px !important;
  padding: 50px 65px 45px;
  margin: 0 auto;
  background: #fff;
}

.modal__title {
  margin-bottom: 4px;
}

.modal__text {
  margin: 0;
  margin-bottom: 16px;
}

.close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button svg {
  flex-shrink: 0;
}



.form__accept {
  position: relative;
  padding: 6px 0;
  cursor: pointer;
  padding-left: calc(16px + 32px);

}

.form__accept::before {
  content: "";
  display: block;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  background: var(--white);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.form__accept::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../svg/icon-check.svg);
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 10px;
  left: 8px;
  opacity: 0;

}

.form__custom-checkbox input:checked+label::before {
  background: var(--green);
  opacity: 1;
}

.form__custom-checkbox input:checked+label::after {
  opacity: 1;
}
.form__custom-checkbox .form__accept:hover::before{
  background: var(--bluviolet);
}

/*Modal конец*/


/* Активности  */
.header-sticky {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--white);
    color: var(--darkblue);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  }
}

.header-sticky .header__logo,
.header-sticky .header__tel{
  color: var(--darkblue);
}

/* Медиа запросы */
@media (max-width: 1600px) {
}
@media (max-width: 1380px) {
  .button{
    gap: 10px;
    font-weight: 650;
  }
  .offer__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  .button--social{
    gap: 5px;
    font-weight: 450;
    font-size: 12px;
    height: 40px;
  }
  .header__tel{
    font-weight: 650;
    font-size: 12px;
  }
  .header__logo{
    width: 40px;
  }
  .header__contacts{
    gap: 12px;
  }
  .hero__title{
    font-size: 70px;
    width: 650px;
  }
  .price__name{
    font-size: 20px;
  }
  .price__text{
    font-size: 15px;
  }
  .price__coust{
    font-size: 35px;
  }
}
@media (max-width: 1023px) {
  .button--social{
    gap: 0;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button--social svg{
    flex-shrink: 0;
    pointer-events: none;
  }
  .button--social span{
    display: none;
  }
  .header__logo{
    width: 35px;
  }
  .header__tel{
    font-weight: 600;
    font-size: 10px;
  }
  .hero__title{
    font-size: 55px;
    width: 550px;
  }
  .section__grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .benefits__list{
    grid-template-columns: repeat(3, 1fr);
  }
  .benefits__item{
    font-size: 15px;
  }
  .price__list{
    grid-template-columns: repeat(1, 1fr);
  }
  .service-card{
    padding-bottom: 40px;
  }
  .accordion__question{
    font-size: 20px;
  }
  .accordion__answer{
    font-size: 15px;
  }
  .check{
    font-size: 10px;
  }
  .form ::placeholder{
    font-size: 20px;
  }
  .form__grid {
    grid-template-columns: 1fr;
  }
  .form__grid-item--mod {
    grid-column: initial;
  }
  .form__footer{
    grid-template-columns:  1fr;
  }

  .form__grid-item{
    grid-template-columns:  1fr;
  }
}
@media (max-width: 767px) {
  .header__logo{
    width: 30px;
  }
  .header__tel{
    font-weight: 550;
    font-size: 10px;
  }
  .hero__title{
    font-size: 40px;
    width: 350px;
  }
  .hero__text{
    font-size: 15px;
  }
  .button{
    font-weight: 600;
    font-size: 15px;
  }
  .offer__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
  }
  .offer__text{
    font-size: 15px;
  }
  .benefits__list{
    grid-template-columns: repeat(2, 1fr);
  }

  .form ::placeholder{
    font-weight: 250PX;
    font-size: 18px;
  }
  .form__labe {
    font-size: 10px;
  }

  .form__input,
  .form__textarea {
    font-size: 8px;
  }
  .check Label{
    width: auto;
    font-size: 8px;
  }

  .form__accept::before {
    width: 25px;
    height: 25px;
  }

  .form__accept::after{
    width: 12px;
    height: 8px;
  }

  .form__grid-item {
    grid-column: initial;
  }
}
@media (max-width: 374px) {
  .header__logo{
    width: 25px;
  }
  .hero__title{
    font-size: 30px;
    width: 300px;
  }
  .hero__text{
    font-size: 10px;
  }
  .button{
    font-weight: 500;
    font-size: 10px;
  }
  .benefits__list{
    grid-template-columns: repeat(1, 1fr);
  }
  .benefits__item{
    font-size: 10px;
  }
  .offer__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 96px);
  }
  .price__name{
    font-size: 15px;
  }
  .price__text{
    font-size: 12px;
  }
  .price__coust{
    font-size: 20px;
  }
  .form ::placeholder{
    font-weight: 200PX;
    font-size: 10px;
  }
  .form__labe {
    font-size: 8px;
  }
  .form__input,
  .form__textarea {
    font-size: 8px;
  }
  .form__accept{
    font-size: 6px;
  }
  .form__accept::before {
    width: 24px;
    height: 24px;
  }

  .form__accept::after{
    width: 10px;
    height: 6px;
  }


}

