@charset "UTF-8";
:root {
  --font-family: "Inter", sans-serif;
  --white: #fff;
  --red: #f31717;
  --darkblue: #131730;
  --darkblue-mod: rgba(19, 23, 48, 0.8);
  --bg: #f2f6f9;
  --bluviolet: #5b48fc;
  --green: #9de311;
  --darkblue-06: rgba(19, 23, 48, 0.6);
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: local("../fonts/Inter Regular"), local("../fonts/Inter-Regular"), url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.eot");
  src: local("../fonts/Inter Bold"), local("../fonts/Inter-Bold"), url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot");
  src: local("../fonts/Inter Medium"), local("../fonts/Inter-Medium"), url("../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-LightBETA.eot");
  src: local("../fonts/Inter Light BETA"), local("../fonts/Inter-LightBETA"), url("../fonts/Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-LightBETA.woff2") format("woff2"), url("../fonts/Inter-LightBETA.woff") format("woff"), url("../fonts/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  color: var(--darkblue-mod);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: vertical;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-moz-placeholder {
  font-size: 24px;
  font-weight: initial;
}

::placeholder {
  font-size: 24px;
  font-weight: initial;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}

.section__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 2fr;
  padding-top: 60px;
  padding-bottom: 70px;
}

@media (max-width: 1023px) {
  .section__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0px 20px;
  }
  ::-moz-placeholder {
    font-size: 20px;
  }
  ::placeholder {
    font-size: 20px;
  }
  .footer .section__grid {
    gap: 0;
  }
}
.button {
  padding: 21px 30px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: var(--white);
  background-color: var(--bluviolet);
  border-radius: 32px;
  max-width: -moz-max-content;
  max-width: max-content;
  transition: background-color 0.3s;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr auto;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.button span {
  position: relative;
  z-index: 2;
}
.button::after {
  content: "";
  display: block;
  background-image: url(../svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 8px;
  height: 12px;
  z-index: 2;
  -webkit-box-align: center;
}
.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(19, 23, 48, 0.25);
  transition: opacity 0.3s;
  content: "";
  pointer-events: none;
  opacity: 0;
}
.button--social {
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: auto 1fr;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  padding: 0 25px;
  height: 48px;
}
.button__icon {
  position: relative;
  z-index: 2;
}
.button--social:after {
  display: none;
}
.button--telegram {
  background-color: #1e96c8;
}
.button--whatsap {
  background-color: #43ad45;
}
.button:hover::before, .button:active::before, .button:focus::before {
  opacity: 1;
}

@media (max-width: 1380px) {
  .button {
    gap: 10px;
    font-weight: 650;
  }
  .button--social {
    gap: 5px;
    font-weight: 450;
    font-size: 12px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .button {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 15px 55px;
  }
  .button--social {
    height: 40px;
    width: 40px;
    position: relative;
    padding: 0;
  }
}
@media (max-width: 1023px) {
  .button--social {
    gap: 0;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button--social svg {
    flex-shrink: 0;
    pointer-events: none;
  }
  .button--social span {
    display: none;
  }
}
.title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: var(--darkblue);
}
.title span {
  color: var(--green);
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 1380px) {
  .title {
    font-size: 30px;
  }
}
.form__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 25px 32px;
  margin-bottom: 31px;
}
.form__grid-item {
  grid-column: span 4;
  display: grid;
  gap: 12px;
  align-items: flex-start;
  grid-template-columns: 116px 1fr;
  position: relative;
}
.form__grid-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s, opacity 0.3s;
}
.form__grid-item:hover::after {
  background-color: var(--bluviolet);
  opacity: 1;
}
.form__grid-item--mod {
  grid-column: span 8;
}
.form__grid .form__labe {
  font-size: 16px;
  opacity: 0.7;
  padding: 23px 0;
}
.form__grid .form__input,
.form__grid .form__textarea {
  max-width: 100%;
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  padding: 17px 0;
  height: 70px;
  min-height: 70px;
}
.form__grid .form__date {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--green);
}
.form__grid .form__footer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.form__grid .form__date:hover {
  color: var(--bluviolet);
}

.check {
  font-size: 16px;
}

@media (max-width: 1023px) {
  .form__grid {
    grid-template-columns: 1fr;
  }
  .form__grid-item {
    grid-template-columns: 1fr;
    gap: 0;
    grid-column: initial;
  }
  .form__grid-item--mod {
    grid-column: initial;
  }
  .form__labe {
    padding: 0;
  }
  .form__grid .form__input, .form__grid .form__textarea {
    font-size: 20px;
    padding: 12px 0;
    height: 60px;
    min-height: 60px;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .form__footer {
    grid-template-columns: 1fr;
  }
  .form__footer-item {
    grid-column: 1;
  }
  .form__labe {
    font-size: 16px;
  }
  .form__grid .form__input, .form__grid .form__textarea {
    font-size: 20px;
  }
  .form__accept::before {
    width: 25px;
    height: 25px;
  }
  .form__accept::after {
    width: 14px;
    top: 8px;
    left: 7px;
    height: 10px;
  }
  .form__accept {
    padding-left: 36px;
    font-size: 12px;
    line-height: 250%;
  }
  .form__grid-item {
    grid-column: initial;
  }
  .form__grid .form__labe {
    font-size: 12px;
    margin-bottom: -20px;
    padding: 0px;
  }
  .form__accept::before {
    width: 24px;
    height: 24px;
  }
  .form__grid {
    gap: 0;
    margin: 10px 0;
  }
  .check Label {
    width: auto;
    font-size: 14px;
  }
  .modal__body {
    padding: 42px 20px 20px;
    max-width: 100%;
  }
  .modal__title {
    font-size: 20px !important;
  }
  .modal .form__grid {
    gap: 0px;
  }
  .modal__text {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 120%;
  }
  .modal::-moz-placeholder {
    font-size: 12px;
  }
  .modal::placeholder {
    font-size: 12px;
  }
  .modal__body {
    width: 0;
  }
}
.accordion {
  padding: 24px 0;
  position: relative;
}
.accordion::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--darkblue);
  opacity: 0.2;
  transition: 0.3s;
}
.accordion__question {
  font-size: 24px;
  list-style: none;
  font-weight: 500;
  line-height: 133%;
  color: var(--darkblue);
  cursor: pointer;
  list-style: none;
}
.accordion__question--mod {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.accordion__question--mod2 {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.accordion:hover::before {
  background: var(--darkblue);
  opacity: 1;
}
.accordion__question::-webkit-details-marker {
  display: none;
}
.accordion__answer {
  font-size: 18px;
  opacity: 0.8;
  padding-left: 40px;
  padding-top: 20px;
}
.accordion svg {
  -webkit-box-align: center;
}
@media (max-width: 1023px) {
  .accordion__question--mod {
    padding: 0;
  }
  .accordion__question {
    font-size: 20px;
  }
  .accordion__answer {
    font-size: 15px;
  }
}
@media (max-width: 374px) {
  .accordion__answer {
    padding: 10px;
  }
}

/*СЕКЦИИ */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: all 0.3s;
}
.header__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.header__contacts {
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0;
  margin-left: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}
.header__logo {
  display: block;
  width: 48px;
  color: #fff;
  transition: 0.3s;
}
.header__logo:hover, .header__logo:focus, .header__logo:active {
  color: var(--green);
  scale: 1.05;
}
.header__tel {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  transition: all 0.3s;
}
.header__tel:hover {
  color: var(--green);
}

@media (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__tel {
    font-weight: 550;
    font-size: 14px;
  }
  .header__logo {
    width: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    width: 35px;
  }
}
@media (max-width: 1380px) {
  .header__tel {
    font-weight: 650;
    font-size: 12px;
  }
  .header__logo {
    width: 40px;
  }
  .header__contacts {
    gap: 12px;
  }
}
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: var(--white);
}
.hero:before {
  content: "";
  display: block;
  background: linear-gradient(90deg, rgba(19, 23, 48, 0.5), rgba(19, 23, 48, 0.5));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero__content {
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 36px;
  min-height: 100vh;
}
.hero__title {
  position: relative;
  z-index: 2;
  color: inherit;
  font-size: 80px;
  margin: 0;
  margin-bottom: 7px;
  padding-top: 0;
}
.hero__text {
  position: relative;
  z-index: 2;
  opacity: 0.7;
  margin-bottom: 40px;
}
.hero__button {
  position: relative;
  z-index: 2;
}

video {
  -o-object-fit: contain;
     object-fit: contain;
  overflow: clip;
}

.video-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.video-bg__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-bg__container::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(19, 23, 48, 0.5), rgba(19, 23, 48, 0.5));
  content: "";
}

@media (max-width: 1380px) {
  .hero__title {
    font-size: 70px;
    width: 650px;
  }
}
@media (max-width: 1023px) {
  .hero__title {
    font-size: 55px;
    width: 550px;
  }
}
@media (max-width: 767px) {
  .hero__content {
    padding-top: 60px;
    padding-bottom: 0px;
    min-height: 505px;
  }
  .hero__title {
    font-size: 40px;
    width: 350px;
  }
  .hero__text {
    font-size: 15px;
  }
  .hero__button {
    font-size: 14px;
  }
}
.benefits {
  background: var(--bluviolet);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
}
.benefits__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}
.benefits__number {
  margin-bottom: 7px;
  position: relative;
  display: flex;
  align-items: center;
}
.benefits__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  cursor: pointer;
}
.benefits__number::after {
  content: "";
  display: block;
  margin-left: 40px;
  width: 1px;
  opacity: 0;
  height: 1px;
  background-color: var(--white);
  transition: width 0.3s ease;
}
.benefits__item:hover .benefits__number::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  opacity: 1;
  background-color: var(--white);
}

@media (max-width: 1023px) {
  .benefits__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .benefits__item {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .benefits__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.offer {
  background: var(--darkblue);
  color: var(--white);
}
.offer__title {
  color: inherit;
  display: block;
}
.offer__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 55px 32px;
  align-items: center;
}
.offer__item {
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  position: relative;
  padding-bottom: 20px;
}
.offer__icon {
  display: block;
  margin-bottom: 24px;
  color: var(--green);
  transition: all 0.3s;
}
.offer__icon-blok {
  height: 46px;
  width: 42px;
  margin-bottom: 10px;
}
.offer__item:hover .offer__icon {
  color: var(--bluviolet);
}
.offer__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  opacity: 0;
  height: 1px;
  background-color: var(--white);
  transition: width 0.3s ease;
}
.offer__item:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 1px;
  opacity: 1;
  background-color: var(--white);
}

@media (max-width: 1380px) {
  .offer__title {
    margin-top: 0;
  }
  .offer__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
}
@media (max-width: 767px) {
  .offer__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .offer__text {
    font-size: 15px;
  }
}
.price__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.price__icon {
  display: block;
  margin-bottom: 16px;
  color: var(--green);
  transition: all 0.3s;
}
.price__name {
  display: block;
  padding-bottom: 17px;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
}
.price__text {
  display: block;
  margin: 0;
  font-size: 18px;
  margin-bottom: 28px;
  margin-top: auto;
}
.price__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  opacity: 0.5;
  display: block;
}
.price__item {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.price__cost {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 27px;
}
.price__name::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 1px;
  background: var(--darkblue);
  transition: opacity 0.3s, color 0.3s, width 0.3s;
  content: "";
  opacity: 0.2;
}

.service-card:hover .price__name::after {
  width: 80px;
  background: var(--bluviolet);
  opacity: 1;
}

.service-card:hover .price__icon {
  color: var(--bluviolet);
}

@media (max-width: 1380px) {
  .price__name {
    font-size: 20px;
  }
  .price__text {
    font-size: 15px;
  }
  .price__cost {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .price__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .price__name {
    font-size: 15px;
  }
  .price__text {
    font-size: 12px;
  }
  .price__cost {
    font-size: 40px;
  }
}
.faq {
  background-color: #F2F6F9;
}
.faq:last-of-type .accordion:hover::after {
  background: var(--darkblue);
  opacity: 1;
}
.faq:has(.accordion:hover) + .faq__item .accordion::before {
  background: var(--darkblue);
  opacity: 1;
}
.faq:last-of-type .accordion::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--darkblue);
  opacity: 0.2;
  transition: 0.3s;
}

.close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button svg {
  flex-shrink: 0;
}

.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue-06);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}
.modal .form__grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
.modal .form__grid-item {
  grid-column: initial;
}
.modal .form__input::-moz-placeholder {
  color: var(--darkblue);
}
.modal .form__input::placeholder {
  color: var(--darkblue);
}
.modal .form__grid-item::after {
  background: var(--darkblue);
}
.modal .form__input, .modal .form__textarea {
  padding: 15px 0;
  height: 55px;
  color: inherit;
}
.modal__body {
  position: relative;
  width: 700px !important;
  padding: 50px 65px 45px;
  margin: 0 auto;
  background: #fff;
}
.modal__title {
  margin-bottom: 4px;
}
.modal__text {
  margin: 0;
  margin-bottom: 16px;
}

.form__accept {
  position: relative;
  padding: 6px 0;
  cursor: pointer;
  padding-left: 48px;
}
.form__accept::before {
  content: "";
  display: block;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  background: var(--white);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.form__accept::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../svg/icon-check.svg);
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 10px;
  left: 8px;
  opacity: 0;
}

.form__custom-checkbox input:checked + label::before {
  background: var(--green);
  opacity: 1;
}

.form__custom-checkbox input:checked + label::after {
  opacity: 1;
}

.form__custom-checkbox .form__accept:hover::before {
  background: var(--bluviolet);
}

.modal .form__footer {
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.footer {
  background: var(--darkblue);
  color: var(--white);
}
.footer__title {
  color: inherit;
}
.footer .form__footer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

::-moz-placeholder {
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
}

::placeholder {
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
}

/* Активности  */
.header-sticky .header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
  color: var(--darkblue);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
.header-sticky .header__logo, .header-sticky .header__tel {
  color: var(--darkblue);
}

.click {
  transition: transform 0.2s;
}
.click:hover, .click:focus {
  transform: translateY(-2px);
}/*# sourceMappingURL=style.css.map */