:root {
  --font-family: "Inter", sans-serif;

  --white: #fff;
  --red: #f31717;
  --darkblue: #131730;
  --darkblue-mod: rgba(19, 23, 48, 0.8);

  --bg: #f2f6f9;
  --bluviolet: #5b48fc;
  --green: #9de311;

  --darkblue-06: rgba(19, 23, 48, 0.6);

}

/* Шрифты  */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: local('../fonts/Inter Regular'), local('../fonts/Inter-Regular'),
    url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.eot');
  src: local('../fonts/Inter Bold'), local('../fonts/Inter-Bold'),
    url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.eot');
  src: local('../fonts/Inter Medium'), local('../fonts/Inter-Medium'),
    url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-LightBETA.eot');
  src: local('../fonts/Inter Light BETA'), local('../fonts/Inter-LightBETA'),
    url('../fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-LightBETA.woff2') format('woff2'),
    url('../fonts/Inter-LightBETA.woff') format('woff'),
    url('../fonts/Inter-LightBETA.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Шрифты конец  */

/* Базовые стили  */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  color: var(--darkblue-mod);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Базовые стили конец  */

/* Служебные классы  */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

/* Служебные классы конец */

/* --------------------- БЛОКИ ------------------------- */

/* Кнопка  */
.button {
  padding: 21px 30px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: var(--white);
  background-color: var(--bluviolet);
  border-radius: 32px;
  display: block;
  max-width: max-content;
  transition: background-color 0.3s;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.button:after {
  content: '';
  display: block;
  background-image: url(../svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 8px;
  height: 12px;
}

.button:hover {
  background-color: #2f22a5;
}

.button--social {
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: auto 1fr;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  padding: 0 25px;
  height: 48px;
}

.button--social:after {
  display: none;
}

.button--telegram {
  background-color: #1E96C8
}
.button--telegram:hover{
  background-color: #14688c
}
.button__icon {}

.button--whatsap {
  background-color: #43AD45;
}
.button--whatsap:hover {
  background: #2e7a37  ;
}
/* Кнопка конец */


/* заголовки */
.title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: var(--darkblue);
}

.title span {
  color: var(--green);
}

/* заголовки конец */

.wrapper {
  max-width: 1600px;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}

.section__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 2fr;
  padding-top: 60px;
  padding-bottom: 70px;
}

.accordion {
  padding: 24px 0;
  position: relative;
}


.accordion::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--darkblue);
  opacity: 0.2;
}

.faq__item:last-of-type .accordion::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--darkblue);
  opacity: 0.2;
}



.accordion__question {
  font-size: 24px;
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: var(--darkblue);
  /* margin-bottom: 22px; */
}

.accordion__question--mod {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 26px;
  align-items: center;
  padding-right: 38px;
}

.accordion__question--mod2 {
  display: flex;
  align-items: center;
  /* padding-right: 38px; */
  position: relative;
  justify-content: space-between;


}

/* .accordion__question--mod2::after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L13 13L25 0.999998' stroke='%235B48FC' stroke-width='2'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 12px;
  flex-shrink: 0;

} */

.accordion__question::marker {
  display: none;
}

.accordion__answer {
  font-size: 18px;
  opacity: 0.8;
  padding-left: 40px;
  padding-top: 20px;
}

/* --------------------- КОНЕЦ БЛОКИ ------------------------- */

/* --------------------- СЕКЦИИ ------------------------- */
/* шапка  */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 48px;
  padding-bottom: 48px;
}

.header__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header__contacts {
  max-width: max-content;
  margin: 0;
  margin-left: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

.header__logo {
  display: block;
  width: 48px;
  color: #fff;
}
.header__logo:hover{
  color: var(--green);
}
.header__tel {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}
.header__tel:hover{
  color: var(--green);

}


/* шапка конец */

/* Первый экран  */
.hero {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: var(--white);


}

.hero:before {
  content: '';
  display: block;
  background: linear-gradient(90deg, rgba(19, 23, 48, 0.5), rgba(19, 23, 48, 0.5));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero__content {
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 50px;
  min-height: 100vh;
}

.hero__title {
  position: relative;
  z-index: 2;
  color: inherit;
  font-size: 80px;
  margin: 0;
  margin-bottom: 7px;
  padding-top: 0;
}

.hero__text {
  position: relative;
  z-index: 2;
  opacity: 0.7;
  margin-bottom: 40px;
}

.hero__button {
  position: relative;
  z-index: 2;
}

/* Первый экран конец  */

/* Преимущества  */
.benefits {
  background: var(--bluviolet);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
  align-items: center;
}

.benefits__number {
  margin-bottom: 7px;
  display: block;
}

.benefits__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

/* Преимущества  конец */

/* Мы предлагаем  */
.offer {
  background: var(--darkblue);
  color: var(--white);
}



.offer__title {
  color: inherit;
  display: block;
}

.offer__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 10px 32px;
  align-items: center;
}

.offer__item {
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}

.offer__icon {
  display: block;
  margin-bottom: 24px;
}

/* Мы предлагаем  конец */

/* Цены  */

.price__list {
  margin-top: 61px;
  margin-bottom: 61px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.price__icon {
  display: block;
  margin-bottom: 16px;
}

.price__name {
  display: block;
  padding-bottom: 17px;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 0px;
  margin-left: 0px;
}

.price__text {
  display: block;
  margin: 0;
  font-size: 18px;
  margin-bottom: 28px;
}

.price__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  opacity: 0.5;
  display: block;
}

.price__coust {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 27px;
}

/* Цены  конец */

/* FAQ  */
.faq {
  background-color: #F2F6F9;
}

.faq__list {
  margin-top: 60px;
}

/* FAQ конец */

/*Footer*/
.footer {
  background: var(--darkblue);
  color: var(--white);
}

.footer__title {
  color: inherit;
}

.form ::placeholder {
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 25px 32px;
  margin-bottom: 31px;
}

.form__grid-item {
  grid-column: span 4;
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: 116px 1fr;
  position: relative;
}

.form__grid-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--white);
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form__grid-item--mod {
  grid-column: span 8;
}

.form__labe {
  font-size: 16px;
  opacity: 0.7;
}

.form__input,
.form__textarea {
  font-size: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  padding: 17px 0;
  height: 70px;
}

.check {
  font-size: 16px
}

/* .input--form-footer {
  background: var(--white);
  opacity: 0.2;
} */

.form__date {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--green);
}

.form__footer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

/*Footer конец*/

/*Modal */
.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  inset: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--darkblue-06);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

}

.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.modal .form__grid {
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.modal .form__grid-item {
  grid-column: initial;
}

.modal .form__input::placeholder {
  color: var(--darkblue);
}

.modal .form__grid-item::after {
  background: var(--darkblue);
}

.modal .form__input,
.modal .form__textarea {
  padding: 15px 0;
  height: 55px;
}

.modal .form__footer {
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
}

.modal__body {
  position: relative;
  width: 700px !important;
  padding: 50px 65px 45px;
  margin: 0 auto;
  background: #fff;
}

.modal__title {
  margin-bottom: 4px;
}

.modal__text {
  margin: 0;
  margin-bottom: 16px;
}

.form {}

.form--mod {}

.form__labe {}

.label {}

.form__input {}

.form__checkbox {}

.input {}

.input--form-mod {}

.check {}

.form__date {}

.modal__button {}

.button {}

.button--sudmit {}

.close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button svg {
  flex-shrink: 0;
}

/* .modal__text {
  font-weight: 400;
  font-size: 18px;
} */

/* .label {
  font-size: 24px;
  color: var(--darkblue);
}

.input--form-mod {
  background: var(--darkblue);
  opacity: 0.2;
} */



.form__accept {
  position: relative;
  padding: 6px 0;
  cursor: pointer;
  padding-left: calc(16px + 32px);

}

.form__accept::before {
  content: "";
  display: block;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  background: var(--white);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.form__accept::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../svg/icon-check.svg);
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 10px;
  left: 8px;
  opacity: 0;

}

.form__custom-checkbox input:checked+label::before {
  background: var(--green);
  opacity: 1;
}

.form__custom-checkbox input:checked+label::after {
  opacity: 1;
}

/*Modal конец*/
