.benefits {
  background: var(--bluviolet);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
  }

  &__number {
    margin-bottom: 7px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    cursor: pointer;
  }

  &__number::after {
    content: "";
    display: block;
    margin-left: 40px;
    width: 1px;
    opacity: 0;
    height: 1px;
    background-color: var(--white);
    transition: width 0.3s ease;
  }

  &__item:hover &__number::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    opacity: 1;
    background-color: var(--white);
  }
}


@media (max-width: 1023px) {

  .benefits__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .benefits__item {
    font-size: 15px;
  }

}


@media (max-width: 767px) {

  .benefits__list {
   grid-template-columns: repeat(2, 1fr);
 }

}

