.faq {
  background-color: #F2F6F9;


  &:last-of-type .accordion:hover::after {
    background: var(--darkblue);
    opacity: 1;
  }

  &:has(.accordion:hover)+.faq__item .accordion::before {
    background: var(--darkblue);
    opacity: 1;
  }

  &:last-of-type .accordion::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--darkblue);
    opacity: 0.2;
    transition: 0.3s;
  }
}





