.footer {
  background: var(--darkblue);
  color: var(--white);

  &__title {
    color: inherit;
  }

  .form__footer {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  @media (max-width: 767px) {
    &.form__footer{
      grid-template-columns: repeat(1,1fr);
    }
  }

}

::placeholder {
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
}


