.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: all 0.3s;

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__contacts {
    max-width: max-content;
    margin: 0;
    margin-left: auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
  }

  &__logo {
    display: block;
    width: 48px;
    color: #fff;
    transition: 0.3s;
  }

  &__logo:hover,
  &__logo:focus,
  &__logo:active {
    color: var(--green);
    scale: 1.05;
  }

  &__tel {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: var(--white);
    transition: all 0.3s;
  }

  &__tel:hover {
    color: var(--green);

  }
}

@media (max-width: 767px) {

  .header {
    padding-top: 10px;
    padding-bottom: 10px;

    &__tel {
      font-weight: 550;
      font-size: 14px;
    }

    &__logo {
      width: 30px;
    }
  }

}

@media (max-width: 1023px) {

  .header__logo {
    width: 35px;
  }

}

@media (max-width: 1380px) {

  .header{

    &__tel {
      font-weight: 650;
      font-size: 12px;
    }

    &__logo {
      width: 40px;
    }

    &__contacts {
      gap: 12px;
    }

  }

}
