.offer {
  background: var(--darkblue);
  color: var(--white);

  &__title {
    color: inherit;
    display: block;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 55px 32px;
    align-items: center;
  }

  &__item {
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    position: relative;
    padding-bottom: 20px;

  }

  &__icon {
    display: block;
    margin-bottom: 24px;
    color: var(--green);
    transition: all 0.3s;
  }

  &__icon-blok {
    height: 46px;
    width: 42px;
    margin-bottom: 10px;
  }

  &__item:hover .offer__icon {
    color: var(--bluviolet);
  }

  &__item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    opacity: 0;
    height: 1px;
    background-color: var(--white);
    transition: width 0.3s ease;
  }

  &__item:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 1px;
    opacity: 1;
    background-color: var(--white);
  }

}

@media (max-width: 767px) {

  .offer{

   &__list {
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
   }

   &__text {
     font-size: 15px;
   }

  }

}

@media (max-width: 1380px) {
  .offer{

  .offer__title {
    margin-top: 0;
  }

  .offer__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
  }

 }

}

