:root {
  --font-family: "Inter", sans-serif;


  --white: #fff;
  --red: #f31717;
  --darkblue: #131730;
  --darkblue-mod: rgba(19, 23, 48, 0.8);

  --bg: #f2f6f9;
  --bluviolet: #5b48fc;
  --green: #9de311;

  --darkblue-06: rgba(19, 23, 48, 0.6);

}
