@media (max-width: 1023px) {
  /* Аккордеон */

  .accordion{

    &__question--mod {
      padding: 0;
    }

    &__question {
      font-size: 20px;
    }

    &__answer {
      font-size: 15px;
    }
  }


  /* конец Аккордеон */

  /* Кнопки */
  .button--social {
    gap: 0;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;


  & svg {
    flex-shrink: 0;
    pointer-events: none;
  }

  & span {
    display: none;
  }
  }


  /* конец Кнопки */

  /* Шапка */
  .header__logo {
    width: 35px;
  }

  /* конец Шапка */

  /* Первый экран */
  .hero__title {
    font-size: 55px;
    width: 550px;
  }

  /*конец Первый экран */

  .section__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Преимущества */

  .benefits__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .benefits__item {
    font-size: 15px;
  }

  /* конец Преимущества */

  /* Форма */

  .form{

    &__grid {
      grid-template-columns: 1fr;
    }

    &__grid-item {
      grid-template-columns: 1fr;
      gap: 0;
      grid-column: initial;
    }

    &__grid-item--mod {
      grid-column: initial;
    }

    &__labe {
      padding: 0;
    }

    &__input,
    &__textarea {
      font-size: 20px;
      padding: 12px 0;
      height: 60px;
      min-height: 60px;
      width: 100%;
      max-width: 100%;
    }

  }

  /* конец Форма */
}
