@media (max-width: 1380px) {

  /* Заголовки */
  .title {
    font-size: 30px;
  }

  /* конец Заголовки */


  /* Кнопки */
  .button {
    gap: 10px;
    font-weight: 650;

    &--social {
      gap: 5px;
      font-weight: 450;
      font-size: 12px;
      height: 40px;
    }
  }



  /* конец Кнопки */


  /* Шапка */

  .header{

    &__tel {
      font-weight: 650;
      font-size: 12px;
    }

    &__logo {
      width: 40px;
    }

    &__contacts {
      gap: 12px;
    }

  }


  /* конец Шапка */


  /* Мы предлагаем */
  .offer__title {
    margin-top: 0;
  }

  .offer__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  /* конец Мы предлагаем */


  /* Первый экран */
  .hero__title {
    font-size: 70px;
    width: 650px;
  }

  /* конец Первый экран */

  /* Цены */
  .price{

    &__name {
      font-size: 20px;
    }

    &__text {
      font-size: 15px;
    }

    &__cost {
      font-size: 35px;
    }
  }


  /* конц Цены */
}
