@media (max-width: 767px) {

  /* Заголовок */

  .title {
    font-size: 30px;
  }

  /* конец Заголовок */


  /* Служебный класс */

  .wrapper {
    padding: 0px 20px;
  }

  ::placeholder {
    font-size: 20px;
  }

  /* конец Служебный класс */


  /* Кнопки */

  .button {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 15px 55px;
  }

  .button--social {
    height: 40px;
    width: 40px;
    position: relative;
    padding: 0;
  }
  /* конец Кнопки */


  /* Шапка */

  .header__tel {
    font-weight: 550;
    font-size: 14px;
  }

  .header__logo {
    width: 30px;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* конец Шапка */


  /* Первый экран */
  .hero__content {

    padding-top: 60px;
    padding-bottom: 0px;
    min-height: 505px;
  }

  .hero__title {
    font-size: 40px;
    width: 350px;
  }

  .hero__text {
    font-size: 15px;
  }

  .hero__button {
    font-size: 14px;
  }

  /* конец Первый экран */


  /* Преимущества */

   .benefits__list {
    grid-template-columns: repeat(2, 1fr);
  }

   /* конец Преимущества */

   /* Мы предлагаем */

  .offer__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .offer__text {
    font-size: 15px;
  }

  /* конец Мы предлагаем */


  /* Цены */

  .price__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .price__name {
    font-size: 15px;
  }

  .price__text {
    font-size: 12px;
  }

  .price__cost {
    font-size: 40px;
  }

  /* конец Цены */

  /* Форма */
  .form__footer {
    grid-template-columns: 1fr;
  }

  .form__labe {
    font-size: 16px;
  }

  .form__input,
  .form__textarea {
    font-size: 20px;
  }

  .check Label {
    width: auto;
    font-size: 14px;
  }

  .form__accept::before {
    width: 25px;
    height: 25px;
  }

  .form__accept::after {
    width: 14px;
    top: 8px;
    left: 7px;
    height: 10px;
  }

  .form__accept {
    padding-left: calc(24px + 12px);
    font-size: 12px;
    line-height: 120%;
  }

  .form__grid-item {
    grid-column: initial;
  }

  .modal__body {
    padding: 42px 20px 20px;
    max-width: 100%;
  }

  .modal__title {
    font-size: 20px !important;
  }

  .modal .form__grid {
    gap: 0px;
  }

  .form__labe {
    font-size: 12px;
    margin-bottom: -20px;
    padding-top: 10px;
  }

  .modal__text {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 120%;
  }

  .modal::placeholder {
    font-size: 12px;
  }

  .form__accept::before {
    width: 24px;
    height: 24px;
  }

  .modal__body {
    width: 0;
  }

  /* конец Форма */
}
