@media (max-width: 767px) {

  /* Заголовок */

  .title {
    font-size: 30px;
  }

  /* конец Заголовок */


  /* Служебный класс */

  .wrapper {
    padding: 0px 20px;
  }

  ::placeholder {
    font-size: 20px;
  }

  /* конец Служебный класс */


  /* Кнопки */

  .button {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 15px 55px;

    &--social {
      height: 40px;
      width: 40px;
      position: relative;
      padding: 0;
    }
  }

  /* конец Кнопки */


  /* Шапка */

  .header {
    padding-top: 10px;
    padding-bottom: 10px;

    &__tel {
      font-weight: 550;
      font-size: 14px;
    }

    &__logo {
      width: 30px;
    }
  }

  /* конец Шапка */


  /* Первый экран */
  .hero{

    &__content {
      padding-top: 60px;
      padding-bottom: 0px;
      min-height: 505px;
    }

    &__title {
      font-size: 40px;
      width: 350px;
    }

    &__text {
      font-size: 15px;
    }

    &__button {
      font-size: 14px;
    }

  }

  /* конец Первый экран */


  /* Преимущества */

   .benefits__list {
    grid-template-columns: repeat(2, 1fr);
  }

   /* конец Преимущества */

   /* Мы предлагаем */
   .offer{

    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &__text {
      font-size: 15px;
    }

   }


  /* конец Мы предлагаем */


  /* Цены */

  .price{

    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }

    &__name {
      font-size: 15px;
    }

    &__text {
      font-size: 12px;
    }

    &__cost {
      font-size: 40px;
    }
  }

  /* конец Цены */

  /* Форма */
  .form{

    &__footer {
      grid-template-columns: 1fr;
    }

    &__labe {
      font-size: 16px;
    }

    &__input,
    &__textarea {
      font-size: 20px;
    }

    &__accept::before {
      width: 25px;
      height: 25px;
    }

    &__accept::after {
      width: 14px;
      top: 8px;
      left: 7px;
      height: 10px;
    }

    &__accept {
      padding-left: calc(24px + 12px);
      font-size: 12px;
      line-height: 120%;
    }

    &__grid-item {
      grid-column: initial;
    }

    &__labe {
      font-size: 12px;
      margin-bottom: -20px;
      padding-top: 10px;
    }

    &__accept::before {
      width: 24px;
      height: 24px;
    }

  }

  .check Label {
    width: auto;
    font-size: 14px;
  }

  .modal{
    &__body {
      padding: 42px 20px 20px;
      max-width: 100%;
    }

    &__title {
      font-size: 20px !important;
    }

    & .form__grid {
      gap: 0px;
    }

    &__text {
      margin: 0;
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 120%;
    }

    &::placeholder {
      font-size: 12px;
    }

    &__body {
      width: 0;
    }
  }

  /* конец Форма */
}
