.title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: var(--darkblue);
   span {
    color: var(--green);
  }
}

@media (max-width: 767px) {

  .title {
    font-size: 30px;
  }
}

@media (max-width: 1380px) {

  .title {
    font-size: 30px;
  }

}

